<div class="container">
  <h1><u>Sign Up</u></h1> <br>
  <div class="img1">
    <img src="assets/usericon.png" width="20px" alt="gg" height="20px">
  </div>
  <input type="text" placeholder="User Name" id="name"><br><br>
  <div class="img2">
    <img src="assets/mob.png" width="20px" alt="gg" height="20px">
  </div>
  <input type="Mobile number" placeholder="Enter The Mobile Number" id="number"><br><br>
  <div class="img3">
    <img src="assets/mail.png" width="20px" alt="gg" height="20px">
  </div>
  <input type="text" placeholder="fff@gamil.com" id="name"><br>
  <input type="checkbox" name="ta1"><a href="">Trems & Services</a><br>
  <input type="Submit" value="Register" id="button"><br><br>
  <u>Already Have An Account? </u><a href="#" class="del">Login</a>
</div>
<div class="logo">
  <img src="assets/Danie's Event Management-1 (1).png" width="250px" height="250px">
</div>